* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #f2f2f2;
}

h1 {
    font-family: 'OpenSansExtraBold';
}

nav {
    background: #171c24;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 68px;
    padding: 0 100px;
}

nav .logo {
    display: flex;
    align-items: center;
    margin-left: -60px; 
}

nav .logo img {
    height: 58px;
    width: auto;
}

nav .nav-items {
    display: flex;
    flex:1;
    padding-left: 20px;
    
}

nav .nav-items li {
    list-style: none;
    padding: 0 10px;
}

nav .nav-items li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

nav .nav-items li a:hover {
    color: #7eaee6;
}

nav .nav-items li a.active {
    color: #264380; 
}

nav .menu-icon,
nav .cancel-icon {
    width: 40px;
    text-align: center;
    margin: 0 50px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    display: none;
}

@media (max-width: 1140px) {
    nav {
        padding: 0;
    }

    nav .logo img {
        height: 40px;
    }

    nav .nav-items {
        position: fixed;
        z-index: 99;
        top: 68px;
        left: -100%;
        width: 100%;
        height: 100%;
        text-align: center;
        background: #14181f;
        transition: left 0.3s ease;
    }

    nav .nav-items.active {
        left: 0;
    }

    nav .nav-items li {
        margin: 30px 0;
        line-height: 40px;
    }

    nav .menu-icon {
        display: block;
    }
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.content header {
    font-size: 30px;
    font-weight: 700;
}

.space {
    margin: 10px 0;
}

body {
    font-family: 'MyCustomFont', sans-serif; /* Použití vlastního fontu */
}

@font-face {
    font-family: 'OpenSansExtraBold';
    src: url('fonts/OpenSans_SemiCondensed-ExtraBold.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal; 
}



